.wrap {
  display: flex;
  padding: 40px 0;
  border-bottom: 1px solid #ccc;
}

.img_item {
  flex: 200px 0 0;
}
.img_item img {
  display: block;
}

.info_item {
  flex: 1 0 0;
}

.tit_item {
  display: block;
  font-size: 24px;
  margin-top: 20px;
}

.num_price {
  display: block;
  font-size: 34px;
  margin-top: 20px;
  color: #00bcd4;
}

.txt_info {
  display: block;
  font-size: 24px;
  margin: 20px 0 40px;
}
